.gsd-keyboard.settings-ported
Actiona/
Code/
CurseForge/
GIMP/
KDE/
Microsoft/
Nibbler/
QtProject.conf
QtProject/
Rygel/
Smart Code ltd/
TabNine/
Trolltech.conf
Unknown Organization/
VirtualBox/
VirtualBoxVMrc
VirtualBoxrc
akregatorrc
alacritty/alacritty.yml.1689441342709.bak
aseprite/
auroraerc
awesome/
bluedevilglobalrc
breezerc
calibre/
cef_user_data/
dconf/
deepin/
device_automounter_kcmrc
discord/
discoverrc
drkonqirc
enchant/
eog/
evince/
evolution/
flameshot/
flameshotrc
gdlauncher/
gdlauncher_next/
gedit/
gh/
git-graph/
gnome-initial-setup-done
goa-1.0/
google-chrome/
gtk-2.0/
gtk-3.0/
gtk-4.0/
gtkrc
gtkrc-2.0
hp-pluginrc
htop/
ibus/
inkscape/
kactivitymanagerd-pluginsrc
kactivitymanagerd-statsrc
kactivitymanagerd-switcher
kactivitymanagerdrc
kateschemarc
katevirc
kcminputrc
kcmshell5rc
kconf_updaterc
kdebugsettingsrc
kded5rc
kded_device_automounterrc
kdeglobals
kdenlive-layoutsrc
kdenliverc
kfontinstuirc
kfontviewrc
kgammarc
kglobalshortcutsrc
khelpcenterrc
khotkeysrc
kinfocenterrc
kioclientrc
kioslaverc
kitty/
klaunchrc
klipperrc
kmenueditrc
kmixrc
konsolerc
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc
kxkbrc
libaccounts-glib/
libreoffice/
lutris/
melon-starship.toml
menus/
mimeapps.list
nautilus/
neofetch/
nitrogen/
nvim/
omf/
opera/
partitionmanagerrc
pavucontrol.ini
polybar/
powerdevilrc
powermanagementprofilesrc
pulse/
remmina/
rygel.conf
sddmthemeinstallerrc
sdfh.css
session/
spectacle.notifyrc
spectaclerc
systemmonitorrc
systemsettingsrc
totem/
touchpadrc
transmission/
trashrc
user-dirs.dirs
user-dirs.locale
vlc/
vlcrc
xdg-desktop-portal-kderc
xsettingsd/
zoomus.conf
