palette = "catppuccin_mocha"

format = """
[░▒▓](mauve)\
[  ](bg:mauve fg:crust)\
[▓▒░](bg:red fg:mauve)\
${custom.directory}\
[▓▒░](fg:red bg:peach)\
$git_branch\
$git_status\
[▓▒░](fg:peach bg:green)\
$nodejs\
$rust\
$golang\
$php\
$python\
[▓▒░](fg:green bg:blue)\
$time\
[▓▒░ ](fg:blue)
[░▒▓](surface1)\
[  ](bg:surface1 fg:pink)\
[▓▒░](fg:surface1) """

[custom.directory]
command = "echo $(prompt_pwd)"
when = true
symbol = " @ "
style = "bold fg:crust bg:red"
format = "[$symbol($output) ]($style)"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Pictures" = " "

[git_branch]
symbol = ""
style = "bg:peach"
format = '[[ $symbol $branch ](fg:crust bg:peach)]($style)'

[git_status]
style = "bg:peach"
format = '[[($all_status$ahead_behind )](fg:crust bg:peach)]($style)'

[nodejs]
symbol = ""
style = "bg:green"
format = '[[ $symbol ($version) ](fg:crust bg:green)]($style)'

[rust]
symbol = ""
style = "bg:green"
format = '[[ $symbol ($version) ](fg:crust bg:green)]($style)'

[golang]
symbol = ""
style = "bg:green"
format = '[[ $symbol ($version) ](fg:crust bg:green)]($style)'

[php]
symbol = ""
style = "bg:green"
format = '[[ $symbol ($version) ](fg:crust bg:green)]($style)'

[python]
symbol = ""
style = "bg:green"
format = '[[ $symbol ($version) (@$virtualenv)](fg:crust bg:green)]($style)'

[time]
disabled = false
time_format = "%R" # Hour:Minute Format
style = "bg:blue"
format = '[[󰥔 $time ](fg:crust bg:blue)]($style)'

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"
